* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	background-color: #fff;
	color: #000;
	padding-top: 30px;
}

a {
	color: #37a;
	text-decoration: none;
	cursor: pointer;
}

.main li>.cap a:hover,
.notes li>a:hover,
.side li>a:hover,
.time-list-title a:hover,
.p1 a:hover,
.sidenav-links a:hover,
#movie a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #37a;
}

ul {
	list-style: none;
}

.container {
	width: 100%;
	margin: auto;
}

.main-nav {
	width: 1080px;
	margin: 0 auto 25px auto;
	display: flex;
	justify-content: space-between;
}

.main-nav>form {
	position: relative;
	border: 1px solid #c3c3c3;
	width: 270px;
	height: 30px;
	margin-top: 6px;
	margin-left: -35px;
}

.main-nav .btn {
	width: 30px;
	height: 30px;
	background: url('../image/bn_srh_1.png') no-repeat 50% 50%;
	position: absolute;
	right: 0;
	top: 0;
}

.main-nav>form input {
	width: 240px;
	height: 20px;
	border: none;
	padding: 5px;
	font-size: 13px;
}

.main-nav .btn>button {
	width: 30px;
	height: 30px;
	background: transparent;
	color: transparent;
	border: none;
}

.main-nav>ul {
	float: right;
	vertical-align: center;
	margin-top: 5px;
}

.main-nav li {
	float: left;
	font-size: 22px;
	font-weight: 550;
	margin-right: 20px;
}

.main-menu li:nth-child(2)>a {
	color: rgb(72, 161, 202);
}

.main-menu li:nth-child(3)>a {
	color: orange;
}

.main-menu li:nth-child(4)>a {
	color: rgb(218, 105, 40);
}

.main-menu li:nth-child(5)>a {
	color: rgb(27, 139, 102);
}

.main-menu li:nth-child(6)>a {
	color: rgb(15, 128, 90);
}

.main-menu li:nth-child(7)>a {
	color: rgb(173, 236, 148);
}

.main-menu li:nth-child(9)>a {
	color: rgb(17, 161, 17);
}

.main-nav .logo {
	width: 160px;
	height: 34px;
	margin-left: -8px;
	cursor: pointer;
	transform: scaleY(0.9);
}

.login-block {
	position: relative;
	width: 100%;
	height: 300px;
	background: url('../image/login-bg.jpg') no-repeat;
	margin-bottom: 25px;
	background-size: contain;
	background-color: #edf4ed;
	background-position: 105px 0;
}

.login-block>.wrapper {
	width: 300px;
	height: 270px;
	position: absolute;
	right: 291px;
	top: 30px;
}

.login-block .third-way {
	display: flex;
	align-items: center;
	width: 250px;
	border: none;
	border-top: 1px solid #ddd;
}

.third-way>p {
	font-size: 11px;
	color: #9b9b9b;
}

.third-way>a>img {
	width: 22px;
	height: 22px;
	margin: 10px 0 0 15px;
}

.login-body-tab {
	border-bottom: 1px solid #cccccc;
	width: 280px;
	margin-bottom: 12px;
}

.login-body-tab>ul {
	display: flex;
	justify-content: space-evenly;
}

.login-body-tab li {
	font-size: 13px;
	cursor: pointer;
}

.login-body-tab li.on {
	font-weight: 600;
	border-bottom: 1px solid #494949;
}

.login-body-tab li.phone-tab,
.login-body-tab li.pwd-tab {
	flex: 1fr;
	padding: 5px;
	display: inline-block;
	width: 50%;
	text-align: center;
}

.detail {
	font-size: 12px;
	color: #9b9b9b;
	margin-bottom: 12px;
}

.detail>a {
	color: #41ac52;
}

.login-account {
	margin-bottom: 12px;
	width: 280px;
	background-color: #fff;
}

.login-account>input.phone,
.login-account>select.district {
	border: none;
	padding: 5px;
	outline: none;
}

.login-account>select.district {
	border-right: 1px solid #c3c3c3;
}

.login-text-code {
	margin-bottom: 12px;
	width: 280px;
	border: 1px solid #fff;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}

.login-text-code>a.get-code {
	font-size: 13px;
	color: #41ac52;
	text-align: center;
	background-color: transparent;
	align-self: center;
	justify-self: flex-end;
	padding-right: .8em;
}

.login-text-code>input.text-code {
	border: none;
	padding: 6px;
	outline: none;
}

.account-submit {
	margin-bottom: 12px;
}

.account-submit>a.btn {
	display: block;
	border-radius: 3px;
	width: 280px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	font-weight: 400;
	color: #fff;
	background-color: rgba(66, 189, 86, .5);
	font-size: inherit;
}

.login-remember {
	display: flex;
	font-size: 13px;
	width: 280px;
	justify-content: space-between;
	margin-bottom: 12px;
}

.login-remember>.remember {
	display: inline;
}

.login-remember>a.no-receive {
	color: #41ac52;
	justify-self: flex-end;
}

.login-remember label {
	padding-left: 4px;
}

.app {
	position: absolute;
	right: 627px;
	top: 89px;
	margin: auto 0 auto 475px;
}

.app>.app-title {
	font-size: 25px;
	color: #111;
	margin: 7px 0 26px 0;
	line-height: 24px;
}

.app>.dwnld {
	display: flex;
}

a.dwnld-btn {
	display: inline-block;
	height: 30px;
	font-size: 12px;
	padding: 7px 21px;
	margin-right: 6px;
	border-radius: 2px;
	background-color: #00b51d;
	color: #fff;
}

a.lnk-qr {
	border: 1px solid #48aa0d;
	width: 30px;
	height: 30px;
	border-radius: 2px;
	display: inline-block;
}

a.lnk-qr>img {
	border: none;
}

.section {
	padding: 8px 0;
	margin-bottom: 20px;
	min-height: 200px;
}

.section:nth-child(odd) {
	padding: 40px 0 20px;
	background-color: #f7f7f7;
}

.section>.wrapper {
	width: 950px;
	margin: 0 auto;
	display: flex;
	padding-bottom: 20px;
}

.wrapper>.main>h2 {
	font: 15px Arial, Helvetica, sans-serif;
	color: #072;
	margin: 0 0 12px 0;
	line-height: 1.2;
}

.side>h2,
.side>.mod>h2 {
	font: 15px Arial, Helvetica, sans-serif;
	color: #072;
	margin: 0 0 12px 0;
}

.side .mod {
	margin-bottom: 20px;
}

.p1 {
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: #666666;
}

#sns .main {
	flex: 13;
}

#sns .wrapper-content {
	display: flex;
}

#sns .album>ul {
	width: 350px;
	margin-right: 30px;
	flex: 1;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#sns .album .pic {
	width: 170px;
	max-height: 170px;
}

#sns .album li {
	font-size: 12px;
	list-style: none;
	margin-bottom: 10px;
}

#sns .album .num {
	color: #999;
}

#sns .album .cap {
	width: 170px;
	line-height: 1.6;
}

#sns .notes {
	font-size: 12px;
	padding: 0 2.6em 0 0.1em;
	width: 300px;
	flex: 1;
}

#sns .notes li {
	margin-bottom: 1.2em;
}

#sns .notes li.first {
	line-height: 1.6;
}

#sns .notes p.author {
	color: #aaa;
}

#sns .side {
	width: 300px;
	flex: 6;
}

#sns .topic-name>a {
	font-size: 14px;
}

#sns .topic-name .topic-subtitle {
	font-size: 13px;
	color: #aaaaaa;
	margin-bottom: 0.8em;
}

#time .side {
	width: 120px;
}

#time .main {
	width: 830px;
}

#time .section-title {
	padding: 0;
	margin: 0;
}

#time .section-title>a {
	color: #494949;
	font-size: 24px;
}

#time .time-list li {
	display: inline-flex;
	flex-flow: column wrap;
	width: 100px;
	text-align: center;
	margin-right: 60px;
	margin-bottom: 30px;
	font-size: 13px;
}

#time a.time-list-cover {
	display: inline-block;
	width: 100px;
	height: 141px;
	margin-bottom: 10px;
}

#time .time-list-title a {
	color: #333333;
	line-height: 1.38;
}

#time .time-list-cover img {
	width: 100px;
	height: 141px;
}

#time .time-list li>.type {
	display: block;
	color: #999;
	font-size: 12px;
	margin-top: 10px;
	line-height: 1;
}

#time>.wrapper>.main>h2 {
	font: 15px Arial, Helvetica, sans-serif;
	color: #072;
	margin: 0 0 7.5px 0;
	line-height: 2.2;
}

#movie .sidenav {
	width: 100px;
	right: 20px;
	margin-right: 20px;
}

#movie .sidenav>h2 {
	margin-bottom: 12px;
}

#movie .side>.mod>h2,
#movie .main>h2 {
	padding-top: 9px;
}

#movie .sidenav-title>a:link {
	font-size: 24px;
	font-weight: 400;
	color: #27a;
}

#movie .sidenav-links li {
	margin-top: 8px;
	font-size: 14px;
}

#movie .sidenav-links a:link {
	color: #27a;
}

#movie .movie-title {
	font-size: 13px;
	line-height: 1.45;
	margin-bottom: 4px;
}

#movie .movie-title>a {
	color: #333;
}

#movie .movie-poster {
	margin-bottom: 10px;
}

#movie .movie-poster>img {
	width: 100px;
}

#movie .movie-list a.ticket-btn {
	background-color: #1c8bd0;
	color: #fff;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 2px;
	font-size: 12px;
}

#movie a.ticket-btn:hover {
	background-color: #047fcb;
}

#movie .movie-list li {
	text-align: center;
	width: 24.8%;
}

#movie .rating {
	margin-bottom: 4px;
	font-size: 13px;
}

#movie .rating>i {
	color: #e09015;
	margin-left: 4px;
}

.rating>span {
	display: inline-block;
	width: 55px;
	height: 11px;
	margin: 0 3px 0 0;
	overflow: hidden;
	background-position: 0 -33px;
}

#movie .main {
	width: 535px;
}

#movie .tags li {
	display: inline-flex;
	width: 4em;
	margin-top: 6px;
	text-align: left;
}

#movie .side {
	width: 265px;
	margin-left: 30px;
	font-size: 12px;
}

#movie .hotmovie li {
	margin-bottom: 8px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eaeaea;
	list-style-position: inside;
}

#movie .hotmovie li>a {
	margin-left: 5px;
}

#movie .group-list li {
	width: 248px;
	margin: 30px 0 0 30px;
	text-align: left;
	font-size: 12px;
}